<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HW 19-20</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery.js"></script>

</head>

<body>
    <header>
        <div class="header clearfix">
            <div class="header__logo clearfix">
                <img src="img/header_icon1.png" alt="picture">
                <p class="header__logo__title">Build Home</p>
                <p class="header__logo__text">INDUSTRIAL THEME</p>
            </div>
            <div class="header__icons clearfix">
                <a href="/"><img src="img/skype.png" alt="picture"><img class="hidden" src="img/skype_selected.png" alt="picture"></a>
                <a href="/"><img src="img/linkedin.png" alt="picture"><img class="hidden" src="img/linkedin_selected.png" alt="picture"></a>
                <a href="/"><img src="img/rss.png" alt="picture"><img class="hidden" src="img/rss_selected.png" alt="picture"></a>
                <a href="/"><img src="img/twitter.png" alt="picture"><img class="hidden" src="img/twitter_selected.png" alt="picture"></a>
                <a href="/"><img src="img/facebook.png" alt="picture"><img class="hidden" src="img/facebook_selected.png" alt="picture"></a>
            </div>
        </div>
    </header>
    <nav>
        <div class="menu clearfix">
            <ul class="menu__elements clearfix">
                <a class="menu__elements__link" href="/">
                    <li class="menu__elements__item">HOME</li>
                </a>
                <a class="menu__elements__link" href="/">
                    <li class="menu__elements__item">FEATURES</li>
                </a>
                <a class="menu__elements__link" href="/">
                    <li class="menu__elements__item">SERVICES</li>
                </a>
                <a class="menu__elements__link" href="/">
                    <li class="menu__elements__item">NEWS</li>
                </a>
                <a class="menu__elements__link" href="/">
                    <li class="menu__elements__item">SHOP</li>
                </a>
            </ul>
            <div class="menu__search">
                <form>
                    <input type="text" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
    <section>
        <div class="slider">
            <img class="slider__mainpicture1" src="img/main_picture.png" alt="picture">
            <img class="slider__mainpicture2" src="img/main_picture2.png" alt="picture">
            <img class="slider__mainpicture3" src="img/main_picture3.png" alt="picture">
            <div class="slider__controlpanel clearfix">
                <div class="slider__controlpanel__checkbox1">
                    <img class="slider__controlpanel__unchecked" src="img/checkbox.png" alt="picture">
                    <img class="slider__controlpanel__checked" src="img/checked.png" alt="picture">
                </div>
                <div class="slider__controlpanel__checkbox2">
                    <img class="slider__controlpanel__unchecked" src="img/checkbox.png" alt="picture">
                    <img class="slider__controlpanel__checked" src="img/checked.png" alt="picture">
                </div>
                <div class="slider__controlpanel__checkbox3">
                    <img class="slider__controlpanel__unchecked" src="img/checkbox.png" alt="picture">
                    <img class="slider__controlpanel__checked" src="img/checked.png" alt="picture">
                </div>
            </div>
        </div>
    </section>
    <main class="blocks clearfix">
        <div class="block1 clearfix">
            <div class="block1__number">
                <p>01</p>
            </div>
            <div class="block1__data clearfix">
                <div class="block1__icon">
                    <img src="img/icon1.png" alt="picture">
                </div>
                <div class="block1__title">
                    <p>Power Inside</p>
                </div>
                <div class="block1__text">
                    <span>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</span>
                </div>
                <div class="block1__link">
                    <a href="/">Read More</a>
                    <img class="arrow" src="img/arrow.png" alt="picture">
                    <img class="arrow_selected" src="img/arrow_selected.png" alt="picture">
                </div>
            </div>
        </div>
        <div class="block2 clearfix">
            <div class="block2__number">
                <p>02</p>
            </div>
            <div class="block2__data clearfix">
                <div class="block2__icon">
                    <img src="img/icon2.png" alt="picture">
                </div>
                <div class="block2__title">
                    <p>New Technologies</p>
                </div>
                <div class="block2__text">
                    <span>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</span>
                </div>
                <div class="block2__link">
                    <a href="/">Read More</a>
                    <img class="arrow" src="img/arrow.png" alt="picture">
                    <img class="arrow_selected" src="img/arrow_selected.png" alt="picture">
                </div>
            </div>
        </div>
        <div class="block3 clearfix">
            <div class="block3__number">
                <p>03</p>
            </div>
            <div class="block3__data clearfix">
                <div class="block3__icon">
                    <img src="img/icon3.png" alt="picture">
                </div>
                <div class="block3__title">
                    <p>Fast Support</p>
                </div>
                <div class="block3__text">
                    <span>Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augueique</span>
                </div>
                <div class="block3__link">
                    <a href="/">Read More</a>
                    <img class="arrow" src="img/arrow.png" alt="picture">
                    <img class="arrow_selected" src="img/arrow_selected.png" alt="picture">
                </div>
            </div>
        </div>
    </main>
    <section class="services">
        <p class="title">Our Services</p>
        <div class="pictures clearfix">
            <div class="pictures__image1">
                <img class="image" src="img/section_image1.png" alt="picture">
                <a href="/"><img class="background" src="img/background.png" alt="picture"></a>
                <p>Schedule Services</p>
            </div>
            <div class="pictures__image2">
                <img class="image" src="img/section_image2.png" alt="picture">
                <a href="/"><img class="background" src="img/background.png" alt="picture"></a>
                <p>Preventive Maintenance</p>
            </div>
            <div class="pictures__image3">
                <img class="image" src="img/section_image3.png" alt="picture">
                <a href="/"><img class="background" src="img/background.png" alt="picture"></a>
                <p>Tire & Wheel Services</p>
            </div>
            <div class="pictures__image4">
                <img class="image" src="img/section_image4.png" alt="picture">
                <a href="/"><img class="background" src="img/background.png" alt="picture"></a>
                <p>Repair Services</p>
            </div>
        </div>
    </section>
    <main class="content clearfix">
        <div class="news clearfix">
            <p class="news__title">Latest News</p>
            <div class="news__upper clearfix">
                <div class="news__upper__picture">
                    <img class="news__upper__picture__date1" src="img/news_upper_icon1.png" alt="picture">
                    <img class="news__upper__picture__date2" src="img/news_icon2.png" alt="picture">
                    <img class="news__upper__picture__image" src="img/news_upper_picture.png" alt="picture">
                </div>
                <p class="news__upper__title"><a href="/">Advanced Machinery Helps Improve Quality</a></p>
                <p class="news__upper__note">by <span>cmsmasters</span>  Comments (<span>6</span>)</p>
                <p class="news__upper__text"><span>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspematur samomo enim ipsam voluptatem</span></p>
            </div>
            <div class="news__lower clearfix">
                <div class="news__lower__picture">
                  <img class="news__lower__picture__date1" src="img/news_lower_icon1.png" alt="picture">
                  <img class="news__lower__picture__date2" src="img/news_icon2.png" alt="picture">
                  <img class="news__lower__picture__image" src="img/news_lower_picture.png" alt="picture">
                </div>
                <p class="news__lower__title"><a href="/">Powerful Techiques for Advanced Service</a></p>
                <p class="news__lower__note">by <span>cmsmasters</span>  Comments (<span>3</span>)</p>
                <p class="news__lower__text"><span>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspematur samomo enim ipsam voluptatem</span></p>
            </div>
        </div>
        <div class="banners">
            <p class="banners__title">Banners Place</p>
            <ul class="banners__panel">
                <li>
                    <p class="banners__minus"><a href="/">&#8722;</a></p><p class="banners__plus"><a href="/">+</a></p><p class="banners__name"><a href="/">ACCORDION PANEL 1</a></p>
                    <ul class="banners__subpanel">
                        <li><span>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspematur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspematur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspematur</span></li>
                    </ul>
                </li>
                <li>
                    <p class="banners__minus"><a href="/">&#8722;</a></p><p class="banners__plus"><a href="/">+</a></p><p class="banners__name"><a href="/">ACCORDION PANEL 2</a></p>
                    <ul class="banners__subpanel">
                        <li><span>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspematur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspematur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspematur</span></li>
                    </ul>
                </li>
                <li>
                    <p class="banners__minus"><a href="/">&#8722;</a></p><p class="banners__plus"><a href="/">+</a></p><p class="banners__name"><a href="/">ACCORDION PANEL 3</a></p>
                    <ul class="banners__subpanel">
                        <li><span>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspematur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspematur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspematur</span></li>
                    </ul>
                </li>
                <li>
                    <p class="banners__minus"><a href="/">&#8722;</a></p><p class="banners__plus"><a href="/">+</a></p><p class="banners__name"><a href="/">ACCORDION PANEL 4</a></p>
                    <ul class="banners__subpanel">
                        <li><span>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspematur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspematur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspematur</span></li>
                    </ul>
                </li>
            </ul>
        </div>
    </main>
    <section class="logos clearfix">
        <img class="logos__image1" src="img/logo1.png" alt="picture">
        <img class="logos__image2" src="img/logo2.png" alt="picture">
        <img class="logos__image3" src="img/logo3.png" alt="picture">
        <img class="logos__image4" src="img/logo4.png" alt="picture">
        <img class="logos__image5" src="img/logo5.png" alt="picture">
        <img class="logos__image6" src="img/logo6.png" alt="picture">
    </section>
    <footer>
        <div class="footer1 clearfix">
            <div class="footer1__column1">
                <p class="footer1__column1__title">SOCIALS</p>
                <p class="footer1__column1__item"><a href="/">Facebook</a></p>
                <p class="footer1__column1__item"><a href="/">Flickr</a></p>
                <p class="footer1__column1__item"><a href="/">Twitter</a></p>
                <p class="footer1__column1__item"><a href="/">Vimeo</a></p>
            </div>
            <div class="footer1__column2">
                <p class="footer1__column2__title">LINKS</p>
                <p class="footer1__column2__item"><a href="/">How to Write a Blog</a></p>
                <p class="footer1__column2__item"><a href="/">Create a Blog in 4 Steps</a></p>
                <p class="footer1__column2__item"><a href="/">15 Tips to Increase Traffic</a></p>
                <p class="footer1__column2__item"><a href="/">20 Blog Post Ideas</a></p>
            </div>
            <div class="footer1__column3">
                <p class="footer1__column3__title">BLOGROLL</p>
                <p class="footer1__column3__item"><a href="/">Blogs Blog</a></p>
                <p class="footer1__column3__item"><a href="/">Roll Up Roll Up</a></p>
                <p class="footer1__column3__item"><a href="/">Blog Free</a></p>
                <p class="footer1__column3__item"><a href="/">Wordpress Blog</a></p>
            </div>
            <div class="footer1__column4">
                <p class="footer1__column4__title">ABOUT US</p>
                <p class="footer1__column4__item"><a href="/">Agriculture</a></p>
                <p class="footer1__column4__item"><a href="/">Harvest</a></p>
                <p class="footer1__column4__item"><a href="/">Company news</a></p>
                <p class="footer1__column4__item"><a href="/">Investor relations</a></p>
            </div>
        </div>
        <div class="footer2 clearfix">
            <img src="img/footer2_icon1.png" alt="picture">
            <span>BuildHomeLtd. Street Name 123 23 45 Cityname</span>
            <img src="img/footer2_icon2.png" alt="picture">
            <span>+123 900 123 456</span>
            <img src="img/footer2_icon3.png" alt="picture">
            <span>info@buildhome.web</span>
            <span class="trademark">&copy 2014 Build Home</span>
        </div>
    </footer>


<script src="js/script.js"></script>
</body>

</html>
