@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-m-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-l-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu_condensedregular';
    src: url('../fonts/ubuntu-c-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-c-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: block;
}
