.logos {

  img {
    float: left;
    margin: 70px 1.8%;
    width: 12.3%;
  }

  .logos__image1 {
    margin-left: 0;
  }

  .logos__image3 {
    width: 15.86%;
  }

  .logos__image6 {
    margin-right: 0;
  }
}
