
.title {
  font-family: 'ubuntumedium';
  font-size: 24px;
  color: white;
  margin-bottom: 40px;
}

.services {
  margin: 50px 0% 0px 0%;
  padding: 40px 11.82% 20px 11.82%;
  height: 420px;
  background-color: #2a2d32;
}

.pictures {

  div {
    width: 23.11%;
    float: left;
    font-size: 16px;
    font-family: 'ubuntumedium';
    color: white;
    text-align: center;
    position: relative;

    img {
      width: 100%;
    }
  }

  a {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 231.34px;
  }

  p {
    text-align: center;
    margin-top: 30px;
  }

}

.background {
  position: absolute;
  top: 0px;
  left: 0%;
  z-index: 1;
  display: none;
}

.background2,
.background3,
.background4 {
  position: absolute;
  left: 1.5%;
  z-index: 1;
  display: none;
}


.pictures__image2,
.pictures__image3,
.pictures__image4 {
  margin-left: 2.5%;
}
